.content_intro {
  font-weight: bold;
  font-size: 3.17rem;
  line-height: 65px;
  letter-spacing: 0.7px;
  margin-bottom: 0.4em;
}

.content_text {
  width: 741px;
  height: 196px;
  line-height: 47px;
  margin-bottom: 1.8em;
  
}

.content_button {
  background: #5528ff;
  border-radius: 10px;
  border: none;
  width: 210px;
  height: 55px;
  margin-bottom: 100px;
}

.content_h2 {
  margin-bottom: 3.2em;
}

@media (max-width: 575.98px) { 
  .content_intro {
    font-weight: bold;
    line-height: 65px;
    letter-spacing: 0.7px;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2rem;
  }

  .content_text {
  display: none;
  }
 }



@media (max-width: 768px) {
  .content_text {
    display: none;
    }
    
    .content_intro {
      text-align: center;
      margin-bottom: 2em;
    }

    .content_button {
      margin-left: 8em;
    }
}
