body {
    font-family: 'Ubuntu', sans-serif;
}

.header_logo {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
   
}

.header_navbar {
    font-weight: bold;
    font-size: 14px;
    line-height: 1em;
    color: #202020;
}

.btn_text {
    color: #fff;
  }


.content_text {
    font-size: 2rem;
}

.content_button_text {
    font-size: 1.5rem;
    color: #fff;
}

.content_h2 {
    font-weight: 300;
font-size: 14px;
}

.services_explain_text{
    font-size: 14px;
    color: #B2B2B2;
}

.services_header {
    font-size: 28px;
}

.position{
    font-size: 14px;
    color: #B2B2B2;
    line-height: 16px;
}